<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	{{ gmap.xhtml }}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 97% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
	  div.center
{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
    </style>

<head>
	{{ gmap.api_script }}
	{{ gmap.render }}
</head>

<body>			
	<div class = "center">
		<div style="position: absolute; bottom: 0px;">		
		<a href="/logout">Logout</a>
		&nbsp&nbsp&nbsp
		<a href="/deleteuser">Delete User</a>			
		</div>
	</div>
	{{ gmap.body }}
</body>

</html>


<!--

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	{{ gmap.xhtml }}

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

<head>
	{{ gmap.api_script }}
	<script type="text/javascript">
	//<![CDATA[
	{{ gmap.render }}
	//]]>
	</script>
</head>

<body {{ gmap.onload }} {{ gmap.onunload }} >
	<div id="{{ google.dom_id }}" style="width:600px; height:400px;"></div>
</body>

</html>


-->
